<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lobby</h1>
    <p>De aqui se puede elegir cualquier lista para todos los elementos en el juego Space Courrier</p>

    <a th:href="@{/player/list}">Lista Jugadores</a><br>
    <a th:href="@{/planet/list}">Lista Planetas</a><br>
    <a th:href="@{/star/list}">Lista Estrellas</a><br>
    <a th:href="@{/product/list}">Lista Productos</a><br>
    <a th:href="@{/ship/list}">Lista Naves</a>
</body>

</html>