<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Planeta</h1>
    <p>A continuación se creara un Planeta</p>

    <form th:action="@{/planet/save}" method="post">
        <label for="txtNombre">Planet Name:</label>
        <input type="text" id="txtNombre" name="nombre" th:field="${planet.nombrePlaneta}">
        <label for="txtshipPassword">Planet Description:</label>
        <input type="text" id="shipPassword" name="password" th:field="${planet.descripcionPlaneta}">
       
        <button>Guardar</button>
    </form>
</body>

</html>