<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Jugador</h1>
    <p>A continuación se creara un Jugador</p>

    <form th:action="@{/ship/save}" method="post">
        <label for="txtNombre">Ship Name:</label>
        <input type="text" id="txtNombre" name="nombre" th:field="${ship.ship_name}">
        <label for="txtshipPassword">Ship Speed:</label>
        <input type="text" id="shipPassword" name="password" th:field="${ship.velocidadMax}">
        <label for="txtApellido">Maximum Capacity:</label>
        <input type="text" id="txtRol" name="Rol" th:field="${ship.capacidadCarga}">

        <button>Guardar</button>
    </form>
</body>

</html>