<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Players</title>
</head>

<body>
    <h1>Listado de Naves</h1>
    <p>A continuación verás las Naves por medio de su nombre y id</p>

    <!-- <p th:each="ship : ${ships}" th:text="${ship.ship_name}"></p> -->
    <table class="entity-list">
        <thead>
            <tr>
                <th>ship_name</th>
                <th>Id</th>
                <th>Detalles</th>
                <!-- <th>Editar</th>
                <th>Borrar</th> -->
            </tr>
        </thead>

        <tbody>
            <tr th:each="ship : ${ships}">
                <td th:text="${ship.ship_name}"></td>
                <td th:text="${ship.id}"></td>
                <td>
                    <a th:href="@{/ship/view/{id}(id=${ship.id})}">Detalles</a>
                </td>
                <td>
                    <a th:href="@{/ship/edit/{id}(id=${ship.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/ship/delete/{id}(id=${ship.id})}">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>