<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Jugador Incluir</h1>
    <p>A continuación se Incluira un Jugador a una nave especifica, en caso de no existir se creara</p>

    <form th:action="@{/player/save}" method="post">
        <input type="hidden" name="id" th:field="${player.id}">
        <label for="txtNombre">Nombre:</label>
        <input type="text" id="txtNombre" name="nombre" th:field="${player.username}">
        <!-- <label for="txtNaveId">Nave Id:</label>
        <input type="text" id="txtNaveId" name="Nave Id" th:field="${ship.id}"> -->

        <button>Guardar</button>
    </form>
    <a th:href="@{/ship/list}">Volver</a>
</body>

</html>